---
layout: default
---
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-45281172-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-45281172-4');
</script>
  <div class="section no-pad-bot" id="index-banner">
   <div class="container">
     <div class="row">
<div class="col l3"><a href="../"><img src="images/logo-200x200.png"></a>
</div>
<div class="col l7 offset-l1 center">
      <h3 class="header center">Adam on FIRE</h3>
	 <h5 class="header center">How I reached Financial Independence in 15 years</h5>
    </div>
     
      </div>
	  </div>

	  
 <div class="container">
  <div class="row">
    <!-- Left Column (3 charts stacked) -->
    <div class="col-md-6">
      <h5>My Portfolio History</h5>
      <iframe title="Portfolio value (monthly snapshots)" src="https://datawrapper.dwcdn.net/oK5cm/10/" scrolling="no" frameborder="0" style="width:100%; border:none;" height="663"></iframe>

      <h5>Current allocation by asset groups</h5>
      <iframe title="Portfolio snapshot (% of all assets)" src="https://datawrapper.dwcdn.net/tq0GF/5/" scrolling="no" frameborder="0" style="width:100%; border:none;" height="493"></iframe>

      <h5>My FIRE journey (since 2015)</h5>
      <iframe title="Portfolio valuation and FIRE target" src="https://datawrapper.dwcdn.net/eQxCE/2/" scrolling="no" frameborder="0" style="width:100%; border:none;" height="433"></iframe>
    </div>

    <!-- Right Column (About Me card) -->
    <div class="col-md-6">
      <div class="card light-blue lighten-4">
        <div class="card-content">
          <span class="card-title">About Me</span>
          <p>This blog is dedicated to my journey to financial independence. I will share my personal story as well as provide meaningful guidance for those who would like to retire.</p>
          <br />
          <p>Visit the <a href="../blog">Blog section</a> for the available posts.</p>
          <p>The <a href="../resources">Resources tab</a> contains detailed information on FIRE-related content, for example on how to calculate your safe withdrawal rate or how to create tax-advantageous investment accounts in Hungary.</p>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
     


  