---
layout: default
---
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-45281172-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-45281172-4');
</script>
  <div class="section no-pad-bot" id="index-banner">
   <div class="container">
     <div class="row">
<div class="col l3"><a href="../"><img src="images/logo-200x200.png"></a>
</div>
<div class="col l7 offset-l1 center">
      <h3 class="header center">Adam on FIRE</h3>
	 <h5 class="header center">How I reached Financial Independence in 15 years</h5>
    </div>
     
      </div>
	  </div>

	  
 <div class="container">
  <div class="row">
    <!-- First Column -->
    <div class="col-6">
      <h5>My Portfolio History</h5>
      <iframe title="Portfolio value (monthly snapshots)" aria-label="Split Bars" id="datawrapper-chart-oK5cm" src="https://datawrapper.dwcdn.net/oK5cm/10/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="663" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();</script>
    </div>

    <!-- Second Column -->
   <div class="col-6">
  <div class="card light-blue lighten-4">
    <div class="card-content">
      <span class="card-title">About Me</span>
      <p>This blog is dedicated to my journey to financial independence. I will share my personal story as well as provide meaningful guidance for those who would like to retire.</p>
      <br />
      <p>Visit the <a href="../blog">Blog section</a> for the available posts.</p>
      <p>The <a href="../resources">Resources tab</a> contains detailed information on FIRE-related content, for example on how to calculate your safe withdrawal rate or how to create tax-advantageous investment accounts in Hungary.</p>
      <br />
    </div>
  </div>
</div>



  
</div>

     


  